<% provide(:title, @tool.title)%>

<div class='objects-navigation'>
    <%= link_to '[back]', position_tool_section_path(@tool.tool_section.position, @tool.tool_section) %>
    <%= link_to '[edit]', edit_position_tool_section_tool_path(@tool.tool_section.position, @tool.tool_section, @tool) %>
    <%= link_to '[delete]', position_tool_section_tool_path(@tool.tool_section.position, @tool.tool_section, @tool), method: :delete, data: { confirm: 'Вы уверены?' } %>
</div>

<div class='content-div'>

    <div class="left-side-navbar">
        <div class='tool-card'>
            <div class='tool-card-logo-name'>
                <%= image_tag(@tool.logo_path, class: "tool-logo") %>
                <h2 class="tool-title"><%= @tool.title %></h2>
            </div>

            <div class='tool-card-category-link'>
                <p><%= @tool_section.title %></p>
                <p><%= @tool.platform %></p>
                <a href="<%= @tool.documentation_link %>" target='_blank'>Официальная документация</a>
            </div>
        </div>

    </div>

    <div class='description'>

        <div class='description-block'>
            <h4 class='description-block-title'>Статьи</h4>
            <%= link_to '[add article]', new_position_tool_section_tool_post_path(@tool.tool_section.position, @tool.tool_section, @tool, @post) %>
                <ul class='tool-posts-list'>
                    <% @tool.posts.each do |post| %>
                    <li><%= link_to post.title, position_tool_section_tool_post_path(@tool.tool_section.position, @tool.tool_section, @tool, post) %></li>
                    <% end %>
                </ul>
        </div>

        <div class='description-block'>    
            <h4 class='description-block-title'>Описание</h4>
            <p><%= @tool.description.html_safe %></p>
        </div>

        <div class='description-block'>    
            <h4 class='description-block-title'>Ключевая функциональность</h4>
            <%= link_to '[add feature]', new_position_tool_section_tool_feature_path(@tool.tool_section.position,@tool.tool_section, @tool, @feature) %>
            <ul>
                <% @tool.features.each do |feature| %>
                  <li><%= link_to feature.description, position_tool_section_tool_feature_path(@position, @tool_section, @tool, feature) %></li>
                <% end %>
            </ul>
        </div>

        <div class='description-block'>
            <h4 class='description-block-title'>История</h4>
            <p><%= @tool.history.html_safe %></p>
        </div>

    </div>

</div>