<%= form_with(model: @flow, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "single-line-input-area" %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.text_area :completed, class: "single-line-input-area" %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, class: "tinymce" %>
    <%= tinymce %>
  </div>

  <div class="form-actions">
    <%= form.submit "Сохранить изменения" %>
  </div>

<% end %>

<%= link_to 'Отмена', flows_path %>
