<% provide(:title, @position.title) %>

<%= link_to '[back]', interview_stack_path %>

<h1><%= @position.title %></h1>




<div class='stack-show-content-div'>
  <div class='stack-block'>
    <h4>Теория:</h4>
    <%= link_to '[new section]', new_position_section_path(@position) %>
    <ul>
      <% @sections.each do |section| %>
        <li>
          <%= link_to section.title, position_section_path(@position, section) %>
          <ul>
            <% section.articles.each do |article| %>
              <li><%= link_to article.title, position_section_article_path(@position, section, article) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div class='stack-block'>
    
    <div class ='all-tools'>
      <h4>All Tools</h4>
      <ul>
        <li>Java</li>
        <li>IntelliJ IDEA Community Edition</li>
        <li>IntelliJ project</li>
        <li>Maven project</li>
        <li>JUnit</li>
        <li>Page Object Model</li>
        <li>Selenium Webdriver</li>
        <li>TestNG</li>
        <li>Selenide</li>
      </ul>
    </div>


    <h4>Инструменты:</h4>

    <%= link_to '[new tool category]', new_position_tool_section_path(@position) %>
    <ul>
      <% @tool_sections.each do |tool_section| %>
        <li>
          <%= link_to tool_section.title, position_tool_section_path(@position, tool_section) %>
          <ul>
            <% tool_section.tools.each do |tool| %>
              <li><%= link_to tool.title, position_tool_section_tool_path(@position, tool_section, tool) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>    
  </div>
</div>
