<% provide(:title, @position.title) %>

<%= link_to '[back]', interview_stack_path %>

<h1><%= @position.title %></h1>




<div class='stack-show-content-div'>
  <div class='stack-block'>
    <h4>Теория</h4>
    <%= link_to '[new section]', new_position_section_path(@position) %>
    <ul>
      <% @sections.each do |section| %>
        <li>
          <%= link_to section.title, position_section_path(@position, section) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class='stack-block'>
    
    <div class ='all-tools'>
      <h4>All Tools</h4>
      <ul>
        <% @tool_sections.each do |tool_section| %>
          <% tool_section.tools.each do |tool| %>
            <li><%= link_to tool.title, position_tool_section_tool_path(@position, tool_section, tool) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>


    <h4>Инструменты</h4>

    <%= link_to '[new tool category]', new_position_tool_section_path(@position) %>
    <ul>
      <% @tool_sections.each do |tool_section| %>
        <li>
          <%= link_to tool_section.title, position_tool_section_path(@position, tool_section) %>
          <ul>
            <% tool_section.tools.each do |tool| %>
              <li><%= link_to tool.title, position_tool_section_tool_path(@position, tool_section, tool) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>    
  </div>
</div>
