<h1>Edit a tool name</h1>

<%= form_with(model: [@position, @tool_section, @tool, @feature], local: true) do |form| %>

  <div class="field">
    <%= form.label :feature %>
    <%= form.text_field :feature, class: "single-line-input-area" %>
  </div>

  <div class="form-actions">
    <%= form.submit "Сохранить изменения" %>
  </div>
<% end %>

<%= link_to 'Отмена', tool_path(@tool) %>