<%= form_with(model: [@position, @tool_section, @tool, @feature], local: true) do |form| %>
  <div class="field">
    <%= form.label :feature %>
    <%= form.text_field :feature, class: "single-line-input-area" %>
  </div>

  <div class="form-actions">
    <%= form.submit "save changes" %>
  </div>
<% end %>

<%= link_to 'Отмена', position_tool_section_tool_path(@position, @tool_section, @tool) %>