<% provide(:title, "Objects") %>
  <h1>Objects</h1>
  <p class='interview-page-description'>
    This page is developed to help a specialist kickstart a QA Engineer career.
  </p>
  <p>
    I kickstarted my QA Engineer career. Now I need to settle, and boost to Test Automation.
  </p>
  <div class='index-div'>
    <ul class='index-list'>
      <li><%= link_to "Stack",   interview_stack_path %></li>
      <li><%= link_to "Тестовые задания", assignments_path %></li>
      <li><%= link_to "Заметки", interview_notes_path %></li>
      <li><%= link_to "Полезные ресурсы", interview_remarks_path %></li>
      <li><%= link_to "Flow: incoming task, status", flows_path %></li>
      
    </ul>  
    <ul class='secondary-nav'>
      <li><%= link_to "Структура собеседования",   interview_structure_path %></li>

      <li><%= link_to "Dump",   interview_dump_path %></li>
    </ul>
  </div>https://www.youtube.com/watch?v=3LSyD5WFLAI&t=4254s