<%= form_with(model: [@position, @tool_section, @tool, @post], local: true) do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_area :title, class: "single-line-input-area" %>
  </div>

  <div>
    <%= form.text_area :content, class: "tinymce" %>
    <%= tinymce %>
  </div>

  <div class="form-actions">
    <%= form.submit "[save]" %>
  </div>

<% end %>

<%= link_to 'Отмена', position_tool_section_tool_post_path(@position, @tool_section, @tool, @post) %>
