<% provide(:title, @section.name)%>

<%= link_to '[back]', interview_wikipedia_path %> |
<%= link_to '[edit]', edit_section_path(@section)%> |
<%= link_to '[new article]', new_section_article_path %>
<div class='delete-section-button'>
  <%= link_to '[delete section]', section_path(@section), method: :delete, data: { confirm: 'Вы уверены?' } %>
</div>
<h1><%= @section.name %></h1>

<ul class='section-list'>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, section_article_path(article.section, article) %>
    </li>
  <% end %>
</ul>