<% provide(:title, "Articles")%>

<%= link_to 'Назад к разделам', interview_wikipedia_path %> |
<%= link_to 'Редактировать название раздела', edit_section_path(@section)%> |
<%= link_to 'Новая Статья', new_section_article_path %>

<h1><%= @section.name %></h1>

<ul class='section-list'>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, section_article_path(article.section, article) %>
    </li>
  <% end %>
</ul>