<% provide(:title, @article.title) %>

<div class='article-controls-div'>
  <%= link_to '[edit]', edit_position_section_article_path(@position, @section, @article) %>
  <%= link_to '[delete]', position_section_article_path(@position, @section, @article), method: :delete, data: { confirm: 'Вы уверены?' } %>
</div>



<div class='article-div'>

  <div class='article-section-title-div'>
    <%= link_to '< '+ @section.title, position_section_path(@position, @section) %>
    <%= link_to 'Practical Tasks >', position_section_article_practical_tasks_path(@position, @section, @article, @practical_tasks) %>
  </div>

  <h1 class='article-title'><%= @article.title %></h1>

  <div class='article-text-div'>
    <p class='article-text'><%= @article.content.html_safe %></p>
  </div>

</div>