<h1>Add a New Feature</h1>

<%= form_with(model: [@tool, @feature], local: true) do |form| %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: "single-line-input-area" %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>

<%= link_to 'Назад', tool_path(@tool) %>
