<h1>Edit a tool post</h1>

<%= form_with(model: [@position, @tool_section, @tool], local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "single-line-input-area" %>
  </div>

    <div class="field">
    <%= form.label :logo_path %>
    <%= form.text_field :logo_path, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.text_field :platform, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.label :documentation_link %>
    <%= form.text_field :documentation_link, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.text_area :description, class: "tinymce" %>
    <%= tinymce %>
  </div>

  <div class="field">
    <%= form.text_area :history, class: "tinymce" %>
    <%= tinymce %>
  </div>

  <div class="form-actions">
    <%= form.submit "Сохранить изменения" %>
  </div>
<% end %>

<%= link_to 'Отмена', position_tool_section_tool_path(@position, @tool_section, @tool) %>
