<h1>Add a new tool</h1>

<%= form_with(model: [@position, @tool_section, @tool], local: true) do |form| %>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.label :logo_path %>
    <%= form.text_field :logo_path, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.text_field :platform, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.label :documentation_link %>
    <%= form.text_field :documentation_link, class: "single-line-input-area" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "tinymce" %>
    <%= tinymce %>
  </div>

  <div class="field">
    <%= form.label :history %>
    <%= form.text_area :history, class: "tinymce" %>
    <%= tinymce %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
