<% provide(:title, @post.title)%>
<div class='article-controls'>
  <%= link_to '[back]', position_tool_section_tool_path(@position, @tool_section, @tool) %> |
  <%= link_to '[edit]', edit_position_tool_section_tool_post_path(@position, @tool_section, @tool, @post) %> |
  <%= link_to '[delete]', position_tool_section_tool_post_path(@position, @tool_section, @tool, @post), method: :delete, data: { confirm: 'Вы уверены?' } %>
</div>
<p>
  <strong>[tool]:</strong> <%= @post.tool.title %>
</p>

<h1><%= @post.title %></h1>

<div class='article-text'>
  <p><%= @post.content.html_safe %></p>
</div>
